<head>
    <link rel="stylesheet" href="./style.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>

<body>
<h1>Olympics Dataset</h1>

<!--  Number of times olympics hosted per city over the years ---- bar chart -->
<div id="cityStats" class="chart"></div>

<!-- Top 10 countries who have won most medals after 2000 - stacked column - split gold/silver/bronze -->
<div id="topTenCountryByMedals" class="chart" ></div>

<!-- M/F PARTICIPATION BY DECADE - column chart -->
<div id="genderByDecade" class="chart"></div>

<!-- Per year average age of athletes who participated in Boxing Men’s Heavyweight - Line -->
<div id="averageAge" class="chart"></div>
 
</body>

<script src="./highcharts.js"></script>